<div *ngFor="let task of tasks_list" class="card w-100 mb-md">
  <div class="card-body">
    <h5 class="card-title">{{task.title}}</h5>
    <p class="card-text">{{task.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li
      class="list-group-item d-flex justify-content-space-between align-center"
    >
      <span><strong>Status</strong></span
      ><span>{{task.status}}</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-space-between align-center"
    >
      <span><strong>Task created</strong></span
      ><span>{{task.date_created}}</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-space-between align-center"
    >
      <span><strong>Task deadline</strong></span
      ><span>{{task.date_deadline}}</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-space-between align-center"
    >
      <span><strong>Priority</strong></span
      ><span>{{task.priority}}</span>
    </li>
  </ul>
  <div class="card-body d-flex align-center space-between gap-4">
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        (click)="expandDropdownMenu('dropdown-menu-status', $event)"
      >
        Update status
      </button>
      <ul class="dropdown-menu" id="dropdown-menu-status">
        <li><a class="dropdown-item" href="#">To do</a></li>
        <li><a class="dropdown-item" href="#">In progress</a></li>
        <li><a class="dropdown-item" href="#">Under review</a></li>
        <li><a class="dropdown-item" href="#">done</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        (click)="expandDropdownMenu('dropdown-menu-users', $event)"
      >
        Reassign task
      </button>
      <ul class="dropdown-menu" id="dropdown-menu-users">
        <li><a class="dropdown-item" href="#">Piet</a></li>
        <li><a class="dropdown-item" href="#">Sarah</a></li>
        <li><a class="dropdown-item" href="#">Luuk</a></li>
      </ul>
    </div>
  </div>
</div>
