<div class="row">
  <ng-container
    *ngFor="let task of tasks_list"
  >
    <div *ngIf="task.assignee_id == selected_user" class="col-xs-12 col-lg-4 mb-md">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ task.title }}</h5>
          <p class="card-text">{{ task.description }}</p>
          <a href="#" (click)="openEditTask(task.id)" data-bs-toggle="modal" data-bs-target="#openTaskModal"><i class="bi bi-pencil-square"></i></a>
        </div>
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item d-flex justify-content-space-between align-center"
          >
            <span><strong>Status</strong></span
            ><span>{{ task.status }}</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-space-between align-center"
          >
            <span><strong>Task created</strong></span
            ><span>{{ task.date_created }}</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-space-between align-center"
          >
            <span><strong>Task deadline</strong></span
            ><span>{{ task.date_deadline }}</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-space-between align-center"
          >
            <span><strong>Priority</strong></span
            ><span>{{ task.priority }}</span>
          </li>
        </ul>
        <!-- <div class="card-body d-flex align-center space-between gap-4">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              (click)="expandDropdownMenu('dropdown-menu-status', $event)"
            >
              Update status
            </button>
            <ul class="dropdown-menu" id="dropdown-menu-status">
              <li *ngFor="let status of statuses_list"><a class="dropdown-item" href="#" (click)="updateStatus(task.id, status)">{{ status }}</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button
              class="btn btn-primary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              (click)="expandDropdownMenu('dropdown-menu-users', $event)"
            >
              Reassign task
            </button>
            <ul class="dropdown-menu" id="dropdown-menu-users">
              <li *ngFor="let user of users_list"> <a href="#" class="dropdown-item" (click)="updateAssignee(task.id, user.id)">{{ user.name }}</a></li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </ng-container>
</div>
