
  <nav class="navbar bg-body-tertiary">
    <div class="container">
      <div class="navbar-brand" href="#">
        <img
          src="assets/to-do-list.png"
          alt="Logo"
          width="20"
          height="30"
          class="d-inline-block align-text-top"
        />
        Task manager
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button class="btn btn-secondary" (click)="createTask()" data-bs-toggle="modal" data-bs-target="#openTaskModal">Create Task</button>
        </li>
      </ul>
    </div>
  </nav>
