<!-- The Modal -->
<div
  class="modal fade"
  id="editUserModal"
  tabindex="-1"
  aria-labelledby="editUserModalLabel"
  aria-hidden="true"
  #editUserModal
>
  <div class="modal-dialog">
    <form>
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="editUserModalLabel">{{formHeader}}</h5> -->
        <h5 *ngIf="newUser === false" class="modal-title" id="editUserModalLabel">Edit user</h5>
        <h5 *ngIf="newUser === true" class="modal-title" id="editUserModalLabel">Create new user</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div *ngIf="newUser; else editExistingUser" class="modal-body">
          <ul class="list-group list-group-flush">
            <li
            class="list-group-item"
          >
          <label for="userTitle"><strong>Name</strong></label>
          <input class="modal-input w-100" type="text" name="userTitle" id="userTitle" #userNameInput>
          </li>
          <li
            class="list-group-item"
          >
          <label for="userAvatar"><strong>Avatar URL</strong></label>
          <input class="modal-input w-100" type="text" name="userAvatar" id="userAvatar" #userAvatarInput>
          </li>
        </ul>
      </div>
      <ng-template #editExistingUser>
      <div class="modal-body">
        <ng-container *ngFor="let user of users_list">
          <ul *ngIf="user.id === edit_user_id" class="list-group list-group-flush">
            <li
            class="list-group-item"
          >
          <label for="userTitle"><strong>Name</strong></label>
          <input class="modal-input w-100" type="text" name="userTitle" id="userTitle" [value]="user.name" #userNameInput required>
          </li>
          <li
            class="list-group-item"
          >
          <label for="userAvatar"><strong>Avatar URL</strong></label>
          <input class="modal-input w-100" type="text" name="userAvatar" id="userAvatar" [value]="user.avatar" #userAvatarInput required>
          </li>
        </ul>
        </ng-container>
      </div>
    </ng-template>
      <div class="modal-footer">
        <button *ngIf="newUser === false" (click)="deleteUser()" type="button" class="btn btn-danger">
          Delete user
        </button>
        <button *ngIf="newUser === false" (click)="editUser()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Update user</button>
        <button *ngIf="newUser === true" (click)="createNewUser()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Create user</button>
      </div>
    </div>
  </form>
  </div>
</div>
